.kanban_board {
  width: 80%;
  padding: 3rem 6rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-direction: column;

  .kaban_board_content_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
  }
}

.kanban_board_body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.fullScreen{
  width: 94.5%;
}

@media screen and(max-width: 1300px) {
  .kanban_board{
    padding: 3rem 2rem;
  }
}
