.navbar_add_button {
  padding: 0.4rem 1.7rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 0.03em;
  transition: var(--primary-transition);
  overflow: visible;
  z-index: 2;
  &:hover {
    background-color: var(--secondary-color);
    color: white;
  }
}
