.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  .navbar_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    .logo {
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      .logo_img {
        width: 30%;
        height: 100%;
        object-fit: contain;
      }
      h2 {
        width: 50%;
        font-size: 18px;
        color: white;
      }
    }
    .kanban_boards {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      .boards_header {
        width: 100%;
        font-size: 15px;
        letter-spacing: 0.03em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: var(--primary-transition);
        cursor: pointer;
        color: black;
        &:hover {
          scale: 1.05;
        }
      }
      .kanban_board_elements {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0.5rem;
        .kanban_element {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          gap: 0.5rem;
          cursor: pointer;
          transition: var(--primary-transition);
          position: relative;
          .kaban_element_edit_input {
            width: 100%;
            input {
              width: 100%;
              border: none;
              outline: none;
              background-color: #9b9baa34;
              height: 2rem;
              border-radius: 7px;
              box-shadow: var(--primary-box-shadow);
              padding: 20px;
              color: #9b9baa;
              font-size: 17px;
            }
          }
          .kanban_element_name_actions {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 5px;
            padding: 5px 10px;
            .kanban_element_name {
              font-weight: 500;
              letter-spacing: 0.03em;
              transition: var(--primary-transition);
              color: white;
            }
            .kanban_element_actions {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              gap: 0.5rem;
              .kanbban_element_actions_edit,
              .kanbban_element_actions_delete,
              .kanbban_element_actions_edit,
              .kanbban_element_actions_approve {
                width: 20px;
                color: transparent;
                transition: var(--primary-transition);
              }
            }
            &:hover {
              background-color: white;
              .kanban_element_name {
                color: var(--primary-color);
              }
              .kanban_element_actions {
                .kanbban_element_actions_edit {
                  color: var(--primary-color);
                }
                .kanbban_element_actions_delete {
                  color: red;
                }
                .kanbban_element_actions_approve {
                  color: greenyellow;
                }
              }
            }
          }
        }
        .active{
          background-color: white;
          border-radius: 5px;
          width: 115%;
          color: var(--primary-color);
          .kanban_element_name{
            color: var(--primary-color)!important;
          }
          .kanban_element_name{
            .kanban_element_name_actions{
            }
          }
        }
      }
    }
  }
  .navbar_settings {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    flex-direction: column;
    margin-bottom: 2rem;
    .hide_nav_bar {
      width: 100%;
      p {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        cursor: pointer;
        transition: var(--primary-transition);
        &:hover {
          scale: 1.05;
        }
      }
    }
    .navbar_settings_add_kanban {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.5rem;
      flex-direction: column;
      .add_kanban {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        cursor: pointer;
        p {
          color: var(--primary-color);
          font-weight: 600;
          letter-spacing: 0.03em;
          font-size: 16px;
        }
      }
      .add_board {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        flex-direction: column;
        .add_board_input {
          width: 100%;
          border: none;
          outline: none;
          background-color: #9b9baa34;
          height: 2rem;
          border-radius: 7px;
          box-shadow: var(--primary-box-shadow);
          padding: 20px;
          color: #9b9baa;
          font-size: 17px;
        }
        .buttons {
          width: 100%;
          margin-top: 10px;
          display: flex;
          align-self: center;
          justify-content: flex-start;
          flex-direction: row;
          gap: 0.5rem;
        }
      }
    }
  }
  .navbar_toggle {
    position: sticky;
    top: 25px;
    width: 20px;
    height: 20px;
    display: none;
  }
}
.full-width {
  transition: var(--primary-transition);
  width: 20%;
  padding: 2rem;
}
.small-width {
  transition: var(--primary-transition);
  padding: 2rem 20px;
  width: 5.5%;
  align-items: center !important;
  .navbar_container {
    .kanban_boards {
      .boards_header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        .boards_header-drop-down {
          //margin-right: 10px;
          color: black;
        }
      }
      p {
        svg {
          margin-left: 5px;
        }
      }
    }
  }
  img {
    width: 100% !important;
  }
  .navbar_settings {
    .navbar_settings_add_kanban {
      .add_kanban {
        p {
          margin-left: 5px;
        }
      }
    }
    .hide_nav_bar {
      p {
        svg {
          width: 20px;
        }
      }
    }
  }
}
//large screen
@media screen and (min-width: 1301px) {
  .small-width {
    .navbar_container {
      .kanban_boards {
        .boards_header {
          justify-content: flex-start;
          margin-left: 5px;
          color: black;
        }
        .kanban_board_elements {
          .kanban_element {
            .kanban_element_name_actions {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
//tablet size
@media screen and (max-width: 1300px) {
  .navbar {
    padding: 1rem;
    .navbar_container {
      .logo {
        h2 {
          font-size: 14px;
          width: 70%;
        }
      }
      .kanban_boards {
        .boards_header {
          font-size: 13px;
          color: black;
        }
        .kanban_board_elements {
          .kanban_element {
            .kanban_element_name_actions {
              .kanban_element_name {
                font-size: 12px;
              }
              .kanban_element_actions {
                gap: 0.2rem;
                svg {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .navbar_settings {
      .navbar_settings_add_kanban {
        .add_kanban {
          .add_text {
            font-size: 20px;
          }
          .add_board_text {
            font-size: 14px;
          }
        }
      }
      .hide_nav_bar {
        p {
          font-size: 14px;
        }
        svg {
          font-size: 20px;
        }
      }
    }
  }
  .small-width {
    padding: 10px;
    .navbar_container {
      align-items: center;
      justify-content: center;
      .kanban_boards {
        .boards_header {
          justify-content: flex-start;
          color:black;
        }
        .kanban_board_elements {
          .kanban_element {
            .kanban_element_name_actions {
              padding: 5px 0;
              .kanban_element_name {
                svg {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
    .navbar_settings {
      align-items: center;
      justify-content: center;
    }
  }
}
//phone-settings
@media screen and (max-width: 850px) {
  .navbar {
    padding: 0;
    .navbar_container {
      display: none;
    }
    .navbar_settings {
      display: none;
    }
    .navbar_toggle {
      display: flex;
    }
  }
}
